:root{
    --color-decoration: #EB6841;
    --bg-color: #1f242d;
    --bg-color2: #323946;
    --font-color: rgb(0, 255, 0);
    --family: Josefin Sans;
}


.background2{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin-top: 1100px;
    background-color: var(--bg-color2);
    z-index: -10;
}

.text11{
    margin-left: 80%;
    margin-top: 60%;
    width: 40vw;
}


.text2{
    margin-left: 165%;
    margin-top: 63%;
    width: 40vw;
}

.pp1{
    color: white;
    margin: 0px 0 10 0;
    font-size: 80px;
    font-style: italic;
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;
    animation: p1 1s forwards;
}


.pp3{
    color: white;
    margin: 0px 0px;
    font-size: 25px;
    font-weight: 450;
    font-family: Roboto, Helvetica, sans-serif;
}

.pp5{
    color: white;
    font-size: 25px;
    font-weight: 450;
    font-family: Roboto;
    display: inline-block;
    animation: p5 1s forwards;
    animation-iteration-count: 1;
}



@keyframes p5 {
    0%{
        margin-left: 70%;
    }

    100%{
        margin-left: 0%;
    }
}

.bar{
    height: 420px;
    width: 5px;
    margin-left: 54%;
    margin-top: 18%;
    border-radius: 50px;
    background: linear-gradient(to bottom, red 30%, var(--font-color) 70%);
    position: absolute;
}

.div-buton{
    position: absolute;
    margin-top: 110px;
}

.activation-bottom2{
    border: 0.1px solid green;
    border-radius: 50px;
    margin-left: -220px;
    width: 270px;
    height: 60px;
    font-size: 25px;
    color: var(--bg-color);
    background-color: rgb(0, 255, 0);
    cursor: pointer;
    transition: all 0.4s;
    animation: activation-bottom 1.5s forwards;
    animation-iteration-count: 1;
}

.activation-bottom2:hover{
    border: none;
    color: white;
    box-shadow: 0px 0px 30px red;
    border-color: white;
}